<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/style.css}">
    <title>Feeder - Order food to be fed</title>
</head>
<body class="customers-content">
<div class="navbar">
    <img th:src="@{/images/logo.png}" alt="Feeder logo">
    <div class="navElements">
        <a th:href="@{/}">Home</a>
        <a th:href="@{/customers}">Customers</a>
        <a th:href="@{/foods}">Foods</a>
        <a th:href="@{/orders}">Orders</a>
        <a th:href="@{/add-customer}">Add new customer</a>
    </div>
</div>
<div class="our-customers-table">

    <table border="1">
        <thead>
        <tr>
            <th>Order Id</th>
            <th>Created at</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody th:if="${not #lists.isEmpty(orders)}">
        <tr th:each="order, stat : ${orders}">
            <td th:text="${orders.getId()}"></td>
            <td th:text="${orders.getCreatedAt()}"></td>
            <td th:text="${orders.getDescription()}"></td>
        </tr>
        </tbody>
        <tbody th:unless="${not #lists.isEmpty(orders)}">
        <tr>
            <td colspan="6">No data found</td>
        </tr>
        </tbody>
    </table>


</div>
</body>
</html>