<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/style.css}">
    <title>Feeder - Order food to be fed</title>
</head>
<body>
    <div class="navbar">
        <img th:src="@{/images/logo.gif}" alt="Feeder logo">
        <div class="navElements">
            <a th:href="@{/}">Home</a>
            <a th:href="@{/customers}">Customers</a>
            <a th:href="@{/foods}">Foods</a>
            <a th:href="@{/orders}">Orders</a>
            <a th:href="@{/add-customer}">Add new customer</a>
        </div>
    </div>
    <div class="hero">
        <h1 id="siteNameHero">Feeder</h1>
        <h3 id="siteSloganHero">Order food to be fed</h3>
    </div>
    <h1 class="foods-title">Culinary offerings</h1>

    <div class="index-content" th:if="${not #lists.isEmpty(foods)}">
        <div class="index-foods" th:each="food : ${foods}">
            <img th:src="${food.getFoodPic()}" height="150px">
            <p th:text="${food.getName()}"></p>
            <p th:text="${food.getDescription()}"></p>
            <p th:text="${food.getPrice()} + ' HUF'"></p>
        </div>
    </div>
    <div th:unless="${not #lists.isEmpty(foods)}">>
        <p>No foods available.</p>
    </div>
    <div class="foods-table">
        <form action="/customers" method="get" class="customersListButtonForm">
            <button type="submit" class="customersListButton button-75" role="button"><span class="text">Make order</span></button>
        </form>
    </div>
</body>
</html>