<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/style.css}">
    <title>Feeder - Order food to be fed</title>
</head>
<body>
    <div class="navbar">
        <img th:src="@{/images/logo.png}" alt="Feeder logo">
        <div class="navElements">
            <a th:href="@{/}">Home</a>
            <a th:href="@{/customers}">Customers</a>
            <a th:href="@{/foods}">Foods</a>
            <a th:href="@{/orders}">Orders</a>
            <a th:href="@{/add-customer}">Add new customer</a>
        </div>
    </div>
    <div class="hero">
        <h1 id="siteNameHero">Feeder</h1>
        <h3 id="siteSloganHero">Order food to be fed</h3>
    </div>
    <h1 class="foods-title">Culinary offerings</h1>
    <div class="foods-table">
        <table border="1">
            <thead>
            <tr>
                <th>Food name</th>
                <th>Description</th>
                <th>Price</th>
            </tr>
            </thead>
            <tbody th:if="${not #lists.isEmpty(foods)}">
            <tr th:each="food, stat : ${foods}">
                <td th:text="${food.getName()}"></td>
                <td th:text="${food.getDescription()}"></td>
                <td th:text="${food.getPrice()}"></td>
            </tr>
            </tbody>
            <tbody th:unless="${not #lists.isEmpty(foods)}">
            <tr>
                <td colspan="6">No data found</td>
            </tr>
            </tbody>
        </table>
        <form action="/customers" method="get" class="customersListButtonForm">
            <button type="submit" class="customersListButton">Make order</button>
        </form>
    </div>
</body>
</html>