<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/style.css}">
  <title>Feeder - Order food to be fed</title>
</head>
<body class="customers-content">
<div class="navbar">
  <img th:src="@{/images/logo.png}" alt="Feeder logo">
  <div class="navElements">
    <a th:href="@{/}">Home</a>
    <a th:href="@{/customers}">Customers</a>
    <a th:href="@{/foods}">Foods</a>
    <a th:href="@{/orders}">Orders</a>
    <a th:href="@{/add-customer}">Add new customer</a>
  </div>
</div>

  <div class="create-order-content">
    <table border="1">
      <thead>
      <tr>
        <th>First Name</th>
        <th>Mid Name</th>
        <th>Last name</th>
        <th>Street and number</th>
        <th>City</th>
        <th>Postal code</th>
        <th>Cellphone</th>
        <th>Email</th>
        <th>Date of birth</th>
        <th>Status</th>
      </tr>
      </thead>
      <tbody th:if="${not #lists.isEmpty(customers)}">
      <tr th:each="customer : ${customers}">
        <td th:text="${customers.getFirstName()}"></td>
        <td th:text="${customers.getMidName()}"></td>
        <td th:text="${customers.getLastName()}"></td>
        <td th:text="${customers.getAddress().getStreetAndNumber()}"></td>
        <td th:text="${customers.getAddress().getCity()}"></td>
        <td th:text="${customers.getAddress().getPostalCode()}"></td>
        <td th:text="${customers.getCell()}"></td>
        <td th:text="${customers.getEmail()}"></td>
        <td th:text="${customers.getDateOfBirth()}"></td>
        <td th:text="${customers.getStatus()}"></td>
      </tr>
      </tbody>
      <tbody th:unless="${not #lists.isEmpty(customers)}">
      <tr>
        <td colspan="6">No data found</td>
      </tr>
      </tbody>
    </table>

    <table class="orders" border="1">
      <thead>
      <tr>
        <th>Order Id</th>
        <th>Created at</th>
        <th>Description</th>
      </tr>
      </thead>
      <tbody th:if="${not #lists.isEmpty(orders)}">
      <tr th:each="order : ${orders}">
        <td th:text="${orders.getId()}"></td>
        <td th:text="${orders.getCreatedAt()}"></td>
        <td th:text="${orders.getDescription()}"></td>
        <input type="hidden" name="customerId" th:value="${orders.getCustomer().getId()}" />
        <input id="inputOrderId" type="hidden" name="orderId" th:value="${orders.getId()}" />
      </tr>
      </tbody>
      <tbody th:unless="${not #lists.isEmpty(orders)}">
      <tr>
        <td colspan="6">No data found</td>
      </tr>
      </tbody>
    </table>


    <table class="foodInOrder" border="1">
      <thead>
      <tr>
        <th>Foods in this order</th>
      </tr>
      </thead>
      <tbody th:if="${not #lists.isEmpty(orders.getFoods())}">
        <tr th:each="food : ${orders.getFoods()}">
          <td th:text="${food.getName()}"></td>
          <td th:text="${food.getDescription()}"></td>
          <td th:text="${food.getPrice()}"></td>
          <td>
              <input type="hidden" id="foodIdToRemove" th:value="${food.getId()}" />
              <button class="btnRemoveFood">Remove food from order</button>
          </td>
        </tr>
      </tbody>
      <tbody th:unless="${not #lists.isEmpty(orders.getFoods())}">
      <tr>
        <td colspan="6">No foods found</td>
      </tr>
      </tbody>
    </table>

    <table border="1">
      <thead>

      </thead>
      <tbody th:if="${not #lists.isEmpty(foods)}">
          <td><label for="foodsData">Choose a food id:</label>
            <select name="foodsData" id="foodsData">
              <option th:each="food : ${foods}" th:value="${food.getId()}" th:text="${food.getName()}"></option>
              <input id="inputFoodId" type="hidden" value="" name="inputFoodId" >
            </select>
          </td>
      </tbody>
      <tbody th:unless="${not #lists.isEmpty(foods)}">
      <tr>
        <td colspan="6">No data found</td>
      </tr>
      </tbody>
    </table>
    <button id="foodBtn" class="orderAddButton">Add food</button>
  </div>

<script type="text/javascript" th:src="@{/js/app.js}"></script>
</body>
</html>