<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/style.css}">
  <title>Feeder - Order food to be fed</title>
</head>
<body class="customers-content">

<div class="navbar">
  <img th:src="@{/images/logo.png}" alt="Feeder logo">
  <div class="navElements">
    <a th:href="@{/}">Home</a>
    <a th:href="@{/customers}">Customers</a>
    <a th:href="@{/foods}">Foods</a>
    <a th:href="@{/orders}">Orders</a>
    <a th:href="@{/add-customer}">Add new customer</a>
    <a th:href="@{/update-customer}">Update customer</a>
  </div>
</div>

<div class="update-customer-container">
  <h2>Update existing order</h2>
  <form th:each="order, stat : ${orders}" class="update-customer-container" th:action="@{/orders/order/update}" th:method="POST">
    <input type="number" th:value="${orders.getId()}" name="orderId"  >
    <input type="text" th:value="${orders.getCreatedAt()}" name="createdAt" disabled >
    <input type="text" th:value="${orders.getDescription()}" name="description" required >
    <button type="submit" class="customerUpdateButton">Update order</button>
  </form>
</div>

</body>
</html>