<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/style.css}">
    <title>Feeder - Order food to be fed</title>
</head>
<body class="customers-content">
    <div class="navbar">
        <img th:src="@{/images/logo.gif}" alt="Feeder logo">
        <div class="navElements">
            <a th:href="@{/}">Home</a>
            <a th:href="@{/customers}">Customers</a>
            <a th:href="@{/foods}">Foods</a>
            <a th:href="@{/orders}">Orders</a>
        </div>
    </div>
    <div class="update-customer-container">
        <h2>Update existing customer</h2>
        <form th:each="customer : ${customers}" class="update-customer-container" th:action="@{/customers/customer/update}" th:method="POST">
            <input type="hidden" th:value="${customer.getId()}" name="customerId" placeholder="ID of customer" required readonly>
            <p>First Name:</p>
            <input type="text" th:value="${customer.getFirstName()}" name="firstName" placeholder="John" required>
            <p>Mid Name:</p>
            <input type="text" th:value="${customer.getMidName()}" name="midName" placeholder="Percival">
            <p>Last Name:</p>
            <input type="text" th:value="${customer.getLastName()}" name="lastName" placeholder="Doe" required>
            <p>Street and number:</p>
            <input type="text" th:value="${customer.getAddress().getStreetAndNumber()}" name="streetAndNumber" placeholder="Dev street 69" required>
            <p>City:</p>
            <input type="text" th:value="${customer.getAddress().getCity()}" name="city" placeholder="Budapest" required>
            <p>Postal Code:</p>
            <input type="text" th:value="${customer.getAddress().getPostalCode()}" name="postalCode" placeholder="1100" required>
            <p>Phone number:</p>
            <input type="text" th:value="${customer.getCell()}" name="cell" placeholder="06701234567" minlength="10" required>
            <p>E-Mail:</p>
            <input type="text" th:value="${customer.getEmail()}" name="email" placeholder="example@gmail.com" required>
            <p>Birthday:</p>
            <input type="date" th:value="${customer.getDateOfBirth()}" name="dateOfBirth" required>
            <p>Status:</p>
            <input type="text" th:value="${customer.getStatus()}" name="status" placeholder="Status(ACTIVE, INACTIVE, DELETED, UNDEFINED)" required>
            <button type="submit" class="customerUpdateButton button-75" role="button"><span class="text">Update customer</span></button>
        </form>
    </div>
</body>
</html>