<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/style.css}">
  <title>Feeder - Order food to be fed</title>
</head>
<body class="customers-content">
  <div class="navbar">
    <img th:src="@{/images/logo.gif}" alt="Feeder logo">
    <div class="navElements">
      <a th:href="@{/}">Home</a>
      <a th:href="@{/customers}">Customers</a>
      <a th:href="@{/foods}">Foods</a>
      <a th:href="@{/orders}">Orders</a>
    </div>
  </div>
  <div class="update-customer-container">
    <h2>Update existing food</h2>
    <form th:each="food : ${foods}" class="update-food-container" th:action="@{/foods/food/update}" th:method="POST">
      <input type="hidden" th:value="${food.getId()}" name="foodId" placeholder="ID of customer" required readonly>
      <p>Name:</p>
      <input type="text" th:value="${food.getName()}" name="name" placeholder="Hamburger" required>
      <p>Description:</p>
      <input type="text" th:value="${food.getDescription()}" name="description" placeholder="Double cheese">
      <p>Price(HUF):</p>
      <input type="number" th:value="${food.getPrice()}" name="price" placeholder="2000" required>
      <p>Picture:</p>
      <input type="text" th:value="${food.getFoodPic()}" name="foodPic" placeholder="/images/{foodName}.jpg">
      <button type="submit" class="customerUpdateButton button-75" role="button"><span class="text">Update food</span></button>
    </form>
  </div>
</body>
</html>